<form (ngSubmit)="onCreatePersonal()" novalidate #f="ngForm">
  <div class="form1">
    <h1>Formulario de Personal</h1>

    <label> Identificacion </label>
    <input type="text" [(ngModel)]="identificacion" name="identificacion" />

    <label> Nombre </label>
    <input type="text" [(ngModel)]="nombre" name="nombre" />

    <label> Apellidos </label>
    <input type="text" [(ngModel)]="apellidos" name="apellidos" />

    <label> Sexo </label>
    <input type="text" [(ngModel)]="sexo" name="sexo" />

    <label> Email </label>
    <input type="text" [(ngModel)]="email" name="email" />

    <label> Telefono </label>
    <input type="text" [(ngModel)]="telefono" name="telefono" />

    <label> Direccion </label>
    <input type="text" [(ngModel)]="direccion" name="direccion" />

    <label> Fecha de Nacimiento </label>
    <input type="date" [(ngModel)]="fechaNacimiento" name="fechaNacimiento" />

    <label> Ocupacion </label>
    <input type="text" [(ngModel)]="ocupacion" name="ocupacion" />

    <label> Estado Civil </label>
    <input type="text" [(ngModel)]="estadoCivil" name="estadoCivil" />

    <div class="btn">
      <div class="right">
        <button>Guardar informacion</button>
      </div>
    </div>
  </div>
</form>

<div class="btn">
  <div class="right">
    <button routerLink="/formulario-estudio">Siguiente</button>
  </div>

  <div class="left">
    <button>Atras</button>
  </div>
</div>
