<div class="welcome-container">
  <div class="banner-container">
    <img src="https://media.istockphoto.com/id/1327765791/es/foto/joven-empresaria-asi%C3%A1tica-sonriente-de-pie.jpg?s=612x612&w=0&k=20&c=eelblfiJ4pMnsW1MBYiTebUs2V3IoE0ZrFhq2NdcOHU=" alt="Welcome Banner" class="welcome-banner">
  </div>
  <h1>Bienvenidos a nuestro generador de HDV</h1>
  <p>¡Estamos encantados de tenerte aquí!</p>
  <button class="start-button" routerLink="/formulario">Comenzar</button>
  <hr>
  <button class="start-button" routerLink="/lista">Lista</button>
</div>


